@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KoushikiSans";
  /* src: url("/static/fonts/koushiki/KoushikiSans-Thin.ttf"); */
  src: url("/static/fonts/MPLUS1-VariableFont_wght.ttf");
}

@font-face {
  font-family: "MPlus1";
  src: url("/static/fonts/MPLUS1-VariableFont_wght.ttf");
}

.gallery-table th,
.gallery-table td {
  @apply px-4 py-2 text-left;
}

.gallery-table tr {
  @apply border-b border-gray-300;
}

.image-transition {
  transition: all 0.5s ease-in-out;
}

.h-screen-95 {
  height: 95vh;
}
.h-screen-5 {
  height: 5vh;
}
