# Auto detect text files and perform LF normalization
* text=auto
taigaishida/static/uncompressed_images/belmon_park.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/cowels1.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/good_posture.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/hope.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/kindergarten.png filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/kinkakuji.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/lajolla_cove3.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/lajolla_fam.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/mean_girls.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/oldschool.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/poway1.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/sanfran.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/sunset_pool.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/torrey_pines_runners.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/universal.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/dont_miss_it.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/grandma.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/tp_trail11.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/tp_trail9.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/umeda.png filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/babypassport.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/balboapark_family.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/cardiff1.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/climber.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/comicon.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/delmarsurfer.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/exit.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/lamp_smoke.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/sky_building.png filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/tp_trail10.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/tp_trail3.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/big_brother.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/castle.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/delmarcliffs.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/dog_man.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/imperial_beach2.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/in_motion.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/lajolla_cove2.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/seven.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/seven.png filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/skybldng.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/angles.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/blue_chair.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/bw_trees.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/cross.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/fletcher.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/gurico2.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/imperial_beach1.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/selfreflection.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/traffic_lights.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/biking.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/tp_trail5.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/asics.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/cardiff.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/dj.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/flowers.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/gurico.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/lajolla.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/pyles1.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/sunsetbirds.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/balboa.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/balboa_cart.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/steering_wheel.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/tp_trail4.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/tp_trail8.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/delmarbeach.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/fishing.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/fletcher1.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/lajolla_cove1.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/lifeguard.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/purple2.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/tp_trail7.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/train_tevin.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/astroboy.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/jordan_4.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/tp_trail1.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/yodoyabashi.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/airplane_window.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/ambiance1.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/lajolla_birds.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/life_guard.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/moms.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/no_picture.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/orange_tree.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/sd_building.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/symmetry.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/caveman_hike.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/first.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/kaikaikiki.jpg filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/ambiance2.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/tp_trail2.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/zion.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/old_couple.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/cove.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/cuyamaca.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/self_portrain.JPG filter=lfs diff=lfs merge=lfs -text
taigaishida/static/uncompressed_images/tp_trail6.JPG filter=lfs diff=lfs merge=lfs -text
