{% extends "layout.html" %}

{% block content %}
<div class="about">
    <article>
        <section style="max-width: 375px;">
            <p class="body-paragraph">
                <span>
                    I was born and raised in Japan till 6 y.o. then moved to America with my family. Finshed my undergrad in computer engineering at SUNY Buffalo then moved to California to find work. I haven't been able to go back home because of work and I am h o m e s i c k.&nbsp;
                </span>
            </p>

            <p class="body-paragraph">
                <span>
                    I live in San Diego and work at alwaysAI as a embedded software engineer. My interest are currently in machine learning and computer vision applications but I am interested in all things embedded.&nbsp;
                </span>
            </p>

            <p class="body-paragraph">
               <span>
                   Please reach out to me if you have any real world projects that I can be apart of. Best place will be the information listed under the contacts page.&nbsp;
               </span> 
            </p>
        </section>
    </article>
</div>
{% endblock %}