{% extends "layout.html" %}
{% block content %}
    <section class="grid place-items-center h-full w-full text-white">
        <article id="about">
            <section>
                <b>Taiga Ishida</b> / 28&nbsp;
                <br />
                <b>Brooklyn</b> / NY&nbsp;
                <br />
                <a href="mailto:ishidataiga@gmail.com">ishidataiga@gmail.com</a>
                <br />
                <a href="https://github.com/TonyTheTaiga" target="_">github</a>
                <br />
                <a href="https://www.linkedin.com/in/taigaishida/" target="_">linkedin</a>
            </section>
        </article>
    </section>
{% endblock %}
