{% extends "layout.html" %}

{% block content %}
<article id="about">
    <section>
        <p class="body-paragraph">
            <span>
                born in Japan, raised in America&nbsp;
                <br>
                currently: San Diego, USA&nbsp;
                <br>
                photography, design, music&nbsp;
            </span>
        </p>

        <p class="body-paragraph">
            <span>
                my focus is currently in machine learning and computer vision applications&nbsp;
                <br>
                currently: software engineer at AI startup
                <br>
                please reach out about interesting oppurtunities&nbsp;
                <br>
                contact information below&nbsp;
            </span> 
        </p>
    </section>
</article>

<article id="contact">
    <section>
        <p class="body-paragraph">
            <span>
                <a href="https://github.com/TonyTheTaiga" target="_">github</a>
                <br>
                <a href="https://www.linkedin.com/in/taigaishida/" target="_">linkedin</a>
                <br>
                <a href="{{ url_for('static', filename='Resume.pdf') }}" target="_">resume</a>
            </span>
        </p>

        <p class="body-paragraph">
            <span>
                ishidataiga@gmail.com
                <br>
                taigaishida.dev@gmail.com
            </span>
        </p>
    </section>
</article>
{% endblock %}