{% extends "layout.html" %} {% block content %}
<section class="text-black">
  <div class="flex flex-row">
    <div class="w-3/5">
      <img
        src="{{ gallery[0].url }}"
        class="image-transition object-scale-down h-screen-95 mx-auto pb-10"
        id="imageDisplay"
      />
    </div>
    <div class="px-6 py-4 w-2/5 place-content-center text-center">
      <p id="line1">{{ gallery[0].line1 }}<br /></p>
      <p id="line2">{{ gallery[0].line2 }}<br /></p>
      <p id="line3">{{ gallery[0].line3 }}</p>
    </div>
  </div>
</section>

<script type="text/javascript">
  const IMAGE_INTERVAL = 5000;
  const gallery = {{ gallery|safe }};
  let currentImageIndex = 0;

  setInterval(() => {
    currentImageIndex = (currentImageIndex + 1) % gallery.length;
    const imageDisplay = document.getElementById("imageDisplay");
    const line1 = document.getElementById("line1");
    const line2 = document.getElementById("line2");
    const line3 = document.getElementById("line3");
    imageDisplay.src = gallery[currentImageIndex].url;
    line1.innerText = gallery[currentImageIndex].line1;
    line2.innerText = gallery[currentImageIndex].line2;
    line3.innerText = gallery[currentImageIndex].line3;
  }, IMAGE_INTERVAL);
</script>
{% endblock %}
