{% extends "layout.html" %}

{% block content %}

<section id="gallery">
        <img src="{{ url_for('static', filename='images/japan/gurico2.jpg') }}" alt="gurico-sign" class="vertical-image">
        <img src="{{ url_for('static', filename='images/kaikaikiki.jpg') }}" alt="moma-kaikaikiki" class="vertical-image">
        <img src="{{ url_for('static', filename='images/japan/flowers.jpg') }}" alt="pink-flower-petals" class="horizontal-image">
        <img src="{{ url_for('static', filename='images/japan/grandma.jpg') }}" alt="grandma" class="horizontal-image">
        <img src="{{ url_for('static', filename='images/japan/gurico.jpg') }}" alt="gurico-water" class="horizontal-image">
        <img src="{{ url_for('static', filename='images/japan/kinkakuji.jpg') }}" alt="kinkakuji" class="horizontal-image">
        <img src="{{ url_for('static', filename='images/delmarcliffs.jpg') }}" alt="del mar cliffs" class="vertical-image">
        <img src="{{ url_for('static', filename='images/sunsetbirds.jpg') }}" alt="sunset birds" class="vertical-image">
        <img src="{{ url_for('static', filename='images/delmarsurfer.jpg') }}" alt="del mar surfer" class="vertical-image">
        <img src="{{ url_for('static', filename='images/airplane_window.jpg') }}" alt="airplane window" class="vertical-image">
</section>

{% endblock %}