{% extends "layout.html" %} {% block content %}
<div class="h-screen grid grid-cols-1">
    <main
        class="overflow-y-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2"
    >
        {% for item in gallery %}
        <div class="p-4 relative">
            <img src="{{item.url}}" class="object-contain" />
            <div class="absolute top-4 right-4 z-10">
                <span>{{ item.line1 }}</span><br />
                <span>{{ item.line2 }}</span><br />
                <span>{{ item.line3 }}</span>
            </div>
        </div>
        {% endfor %}
    </main>
    <aside class="p-8 text-gray-500">
        <b>Taiga Ishida</b> / 30<br />
        <b>Brooklyn</b> / NY<br />
        <a href="mailto:ishidataiga@gmail.com">ishidataiga@gmail.com</a><br />
        <a href="https://github.com/TonyTheTaiga" target="_blank">github</a
        >
    </aside>
</div>
{% endblock %}
