{% extends "layout.html" %}

{% block content %}

<section id="gallery">
        <img src="{{ url_for('static', filename='compressed_images/gurico.jpg') }}" alt="gurico-water" class="horizontal-image japan">
        <img src="{{ url_for('static', filename='compressed_images/gurico2.jpg') }}" alt="gurico-sign" class="vertical-image japan">
        <img src="{{ url_for('static', filename='compressed_images/kaikaikiki.jpg') }}" alt="moma-kaikaikiki" class="vertical-image japan">
        <!-- <img src="{{ url_for('static', filename='compressed_images/japan/flowers.jpg') }}" alt="pink-flower-petals" class="horizontal-image japan"> -->
        <!-- <img src="{{ url_for('static', filename='compressed_images/japan/grandma.jpg') }}" alt="grandma" class="horizontal-image japan"> -->
        <!-- <img src="{{ url_for('static', filename='compressed_images/japan/kinkakuji.jpg') }}" alt="kinkakuji" class="horizontal-image japan"> -->
        <!-- <img src="{{ url_for('static', filename='compressed_images/fletcher1.jpg') }}" alt="fletcher cove" class="vertical-image beach"> -->
        <img src="{{ url_for('static', filename='compressed_images/delmarcliffs.jpg') }}" alt="del mar cliffs" class="vertical-image beach">
        <img src="{{ url_for('static', filename='compressed_images/delmarsurfer.jpg') }}" alt="del mar surfer" class="vertical-image beach">
        <img src="{{ url_for('static', filename='compressed_images/sunsetbirds.jpg') }}" alt="sunset birds" class="vertical-image beach">
        <!-- <img src="{{ url_for('static', filename='compressed_images/lajolla_birds.jpg') }}" alt="la jolla birds" class="horizontal-image beach"> -->
        <img src="{{ url_for('static', filename='compressed_images/cardiff1.jpg') }}" alt="cardiff pcg" class="vertical-image beach">
        <!-- <img src="{{ url_for('static', filename='compressed_images/caveman_hike.jpg') }}" alt="cave man hike" class="horizontal-image beach"> -->
        <img src="{{ url_for('static', filename='compressed_images/torrey_pines_runners.jpg') }}" alt="torrey pines" class="horizontal-image beach">
        <img src="{{ url_for('static', filename='compressed_images/poway1.jpg') }}" alt="poway" class="horizontal-image beach">
        <img src="{{ url_for('static', filename='compressed_images/tp_trail2.jpg') }}" alt="torrey pines trail" class="horizontal-image beach">
        <img src="{{ url_for('static', filename='compressed_images/tp_trail4.jpg') }}" alt="torrey pines trail" class="horizontal-image beach">
        <!-- <img src="{{ url_for('static', filename='compressed_images/tp_trail9.jpg') }}" alt="torrey pines trail" class="horizontal-image beach"> -->
        <!-- <img src="{{ url_for('static', filename='compressed_images/tp_trail10.jpg') }}" alt="torrey pines trail" class="horizontal-image beach"> -->
        <img src="{{ url_for('static', filename='compressed_images/tp_trail6.jpg') }}" alt="torrey pines trail" class="vertical-image beach">
        <img src="{{ url_for('static', filename='compressed_images/tp_trail8.jpg') }}" alt="torrey pines trail" class="vertical-image beach">
        <img src="{{ url_for('static', filename='compressed_images/climber.jpg') }}" alt="climber" class="vertical-image beach">
        <img src="{{ url_for('static', filename='compressed_images/sky_building.png') }}" alt="sky building" class="horizontal-image japan">
        <img src="{{ url_for('static', filename='compressed_images/airplane_window.jpg') }}" alt="airplane window" class="vertical-image misc">
        <img src="{{ url_for('static', filename='compressed_images/sanfran.jpg') }}" alt="san fransico" class="horizontal-image misc">
        <!-- <img src="{{ url_for('static', filename='compressed_images/balboapark_family.jpg') }}" alt="balboa park" class="vertical-image misc"> -->
        <!-- <img src="{{ url_for('static', filename='compressed_images/steering_wheel.jpg') }}" alt="steering wheel" class="vertical-image misc"> -->
        <!-- <img src="{{ url_for('static', filename='compressed_images/cross.jpg') }}" alt="cross" class="horizontal-image misc"> -->
        <img src="{{ url_for('static', filename='compressed_images/orange_tree.jpg') }}" alt="orange tree" class="horizontal-image tree">
        <img src="{{ url_for('static', filename='compressed_images/exit.jpg') }}" alt="exit" class="vertical-image misc">
</section>

{% endblock %}