{% extends "layout.html" %} {% block content %}

<section class="grid place-items-center h-screen">
  <video autoplay="true" id="video"></video>
</section>

<script type="text/javascript">
  async function cameraSetup() {
    video = document.getElementById("video");

    const stream = await navigator.mediaDevices.getUserMedia({
      audio: false,
      video: {
        facingMode: "user",
        // height: { ideal: 1920 },
        // width: { ideal: 1920 },
      },
    });
    video.srcObject = stream;
  }

  document.addEventListener("DOMContentLoaded", cameraSetup);
</script>

{% endblock %}
