<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>Taiga Ishida | {{ title }}</title>
    {% else %}
    <title>Taiga Ishida</title>
    {% endif %}
    <meta name="author" content="Taiga Ishida" />
    <meta name="description" content="nandeyanenn" />
    <meta
      name="keywords"
      content="Taiga, Ishida, Taiga Ishida, machine learning, ai, software, engineer, machine, learning"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='/styles/2023.css')}}"
    />
  </head>

  <body
    id="body"
    class="font-main bg-white dark:bg-gradient-to-br from-zinc-700 to-neutral-900 text-black dark:text-white"
  >
    <header id="header" class="mt-4 lg:my-10 mx-4 lg:mx-4 mb-10">
      <nav id="navigation" class="text-md lg:text-5xl flex">
        <a href="{{ url_for('gallery') }}" class="mr-2 lg:mr-4">01</a>
        <a href="{{ url_for('about') }}">00</a>
      </nav>
    </header>
    <!-- header -->
    <main id="main" class="mx-4">{% block content %}{% endblock %}</main>
    <!-- main -->
    <footer id="footer" class="text-center text-xs my-2">
      <p>&copy;Taiga Ishida</p>
    </footer>
    <!-- footer -->
  </body>
</html>
