<!DOCTYPE html>
<html>

<head>
  {% if title %}
  <title>Taiga Ishida | {{ title }}</title>
  {% else %}
  <title>Taiga Ishida</title>
  {% endif %}
  <meta name="author" content="Taiga Ishida" />
  <meta name="description" content="taiga ishida's website" />
  <meta name="keywords" content="Taiga, Ishida, Taiga Ishida" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{url_for('static', path='/styles/2025.css')}}" />
</head>

<body id="body" class="font-main bg-gray-50 text-gray-800 mx-5">
  <main id="main">{% block content %}{% endblock %}</main>
  <!-- main -->
</body>

</html>
