<!DOCTYPE html>
<html>

<head>
    {% if title %}
    <title>Taiga Ishida | {{ title }}</title>
    {% else %}
    <title>Taiga Ishida</title>
    {% endif %}
    <meta name="author" content="Taiga Ishida">
    <meta name="description" content="nandeyanenn">
    <meta name="keywords" content="Taiga, Ishida, Taiga Ishida, machine learning, ai, software, engineer, machine, learning">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/output.css')}}">
</head>

<body class="font-main">
    <header id="header">
        <nav id="navigation">
            <ul id="nav-links">
                <li><a href="{{ url_for('taiga.index') }}" class="nav-element">Taiga</a></li>
                <li><a href="{{ url_for('taiga.about') }}" class="nav-element">About</a></li>
            </ul>
        </nav>
    </header>
    <!-- header -->
    <main id="body-main">
    {% block content %}{% endblock %}
    </main>
    <!-- main -->
    <footer id="footer">
        <p>&copy;Taiga Ishida</p>
    </footer>
    <!-- footer -->
</body>

</html>
