{% extends "layout.html" %} {% block content %}

<section class="grid place-items-center h-screen">
  <input
    type="file"
    accept="image/*"
    name="image"
    id="file"
    onchange="loadFile(event)"
    style="display: none"
  />
  <label for="file" style="cursor: pointer" id="upload-label"
    >Upload Image</label
  >
  <img id="output" crossorigin="anonymous" style="display: none" />
  <canvas id="canvas" style="display: none"></canvas>
</section>

<script>
  const label = document.getElementById("upload-label");
  const canvas = document.getElementById("canvas");
  const context = canvas.getContext("2d");
  const image = document.getElementById("output");

  function loadFile(event) {
    image.src = URL.createObjectURL(event.target.files[0]);
    image.onload = function () {
      let scale = 1.0;
      if (this.width > window.innerWidth * 0.6) {
        scale = (window.innerWidth * 0.6) / this.width;
      }
      canvas.width = this.width * scale;
      canvas.height = this.height * scale;
      canvas.crossOrigin = "anonymous";
      context.drawImage(image, 0, 0, this.width * scale, this.height * scale);
    };
    canvas.style.display = "inline";
    label.style.display = "none";
  }

  let isPainting = false;
  let lineWidth = 100;
  let lineColor = "#FFFFFF";
  let startX;
  let startY;

  function draw(event) {
    if (!isPainting) {
      return;
    }
    context.lineWidth = lineWidth;
    context.strokeStyle = lineColor;
    context.lineCap = "round";

    context.lineTo(
      event.pageX - canvas.offsetLeft,
      event.pageY - canvas.offsetTop
    );
    context.stroke();
  }

  canvas.addEventListener("mousedown", (e) => {
    isPainting = true;
    startX = e.clientX;
    startY = e.clientY;
  });

  canvas.addEventListener(
    "touchstart",
    (e) => {
      if (e.target == canvas) {
        e.preventDefault();
      }

      isPainting = true;
      startX = e.clientX;
      startY = e.clientY;
    },
    false
  );

  canvas.addEventListener("mouseup", (e) => {
    isPainting = false;
    context.stroke();
    context.beginPath();
  });
  canvas.addEventListener(
    "touchend",
    (e) => {
      if (e.target == canvas) {
        e.preventDefault();
      }

      isPainting = false;
      context.stroke();
      context.beginPath();
    },
    false
  );

  canvas.addEventListener("mousemove", draw);
  canvas.addEventListener(
    "touchmove",
    (e) => {
      if (e.target == canvas) {
        e.preventDefault();
      }
      draw(e);
    },
    false
  );
</script>

{% endblock %}
