{% extends "layout.html" %}

{% block content %}
<div class="aboutMe">
    <div>
        <h2>About Me</h2>
        <p>
    Currently living in San Diego working as a software engineer at alwaysAI.
        </p>
    </div>
    <!-- ABOUT ME -->
</div>

<div class="skills">
    <div>
        <h2>Technical Knowledge</h2>
        <p>
            <b>Lanugages:</b> Python, Java, HTML5, CSS3, JavaScript, C++/#, ARM Assembly
            <br>
            <b>Databases:</b> MySQL, SQLite, MongoDB
            <br>
            <b>Tools:</b> Github, Flask, Elasticsearch
        </p>
    </div>
    <!-- TECHNICAL KNOWLEDGE -->
</div>

<div class="picure">
    <img src="{{ url_for('static', filename='imgs/kinkakuji2.png') }}" alt="kinkakuji">
    <br>
    <small id="caption">kinkakuji kyoto japan</small>
</div>
{% endblock %}
