{% extends "layout.html" %} {% block content %}
<div class="flex items-center justify-center h-screen">
    <div class="w-full max-w-xs">
        <form id="upload-form" class="bg-neutral-900 p-8">
            <div class="mb-4 text-white">
                <label class="block text-sm font-bold mb-2" for="image">
                    Choose an image to upload
                </label>
                <input
                    id="file-input"
                    class="bg-neutral-800 border border-neutral-700 w-full py-2 px-3 text-neutral-200"
                    type="file"
                    name="image"
                />
            </div>
            <div class="mb-4">
                <label
                    class="block text-sm font-bold mb-2 text-white"
                    for="passphrase"
                >
                    Passphrase
                </label>
                <input
                    id="passphrase-input"
                    class="bg-black border border-neutral-700 w-full py-2 px-3 text-white"
                    type="password"
                    name="passphrase"
                />
            </div>
            <div>
                <button
                    id="upload-button"
                    class="bg-neutral-700 hover:bg-neutral-600 text-white font-bold py-2 px-4 w-full relative overflow-hidden"
                    type="submit"
                >
                    <span id="button-text">Upload</span>
                    <div
                        id="button-spinner"
                        class="h-5 w-5 border-2 border-white border-t-transparent rounded-full absolute top-1/2 left-1/2 transform-gpu -translate-x-1/2 -translate-y-1/2"
                        style="
                            animation: spin 1s linear infinite;
                            display: none;
                        "
                    ></div>
                </button>
            </div>
        </form>
        <div id="message" class="text-gray-800 mt-4"></div>
    </div>
</div>

<script>
    async function uploadImage(url, image) {
        if (!url || !image) {
            throw new Error("URL and image are required");
        }

        console.log(`Uploading image to ${url}`);

        try {
            const response = await fetch(url, {
                method: "PUT",
                body: image,
                headers: { "Content-Type": image.type },
            });

            if (!response.ok) {
                throw new Error("Failed to upload the file");
            }
        } catch (error) {
            console.error(error);
            throw error;
        }
    }

    async function registerImage(filename) {
        try {
            const response = await fetch("/register-image", {
                method: "POST",
                body: JSON.stringify({ filename }),
                headers: { "Content-Type": "application/json" },
            });

            if (!response.ok) {
                throw new Error("Failed to register image");
            }
        } catch (error) {
            console.error(error);
            throw error;
        }
    }

    document
        .getElementById("upload-form")
        .addEventListener("submit", async function (event) {
            event.preventDefault();

            const fileInput = document.getElementById("file-input");
            const passphraseInput = document.getElementById("passphrase-input");
            const uploadButton = document.getElementById("upload-button");
            const buttonText = document.getElementById("button-text");
            const buttonSpinner = document.getElementById("button-spinner");

            uploadButton.disabled = true;
            buttonSpinner.style.display = "block";
            buttonText.textContent = "Uploading...";

            try {
                const file = fileInput.files[0];
                const extension = file.name.split(".").pop().toLowerCase();
                const uniqueName =
                    new Date().getTime() +
                    "-" +
                    Math.round(Math.random() * 1e9) +
                    "." +
                    extension;

                console.log("Uploading file", file.name, "as", uniqueName);

                const response = await fetch("/get-upload-url", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        filename: uniqueName,
                        passphrase: passphraseInput.value,
                        content_type: file.type,
                    }),
                });

                if (!response.ok) {
                    throw new Error("Failed to get the upload URL");
                }

                const data = await response.json();
                const uploadUrl = data.uploadUrl;

                await uploadImage(uploadUrl, file);
                await registerImage(uniqueName);

                document.getElementById("message").textContent =
                    "Image uploaded successfully";
                buttonText.textContent = "✅";
            } catch (error) {
                document.getElementById("message").textContent =
                    `Error: ${error.message}`;
                buttonText.textContent = "❎";
            } finally {
                buttonSpinner.style.display = "none";

                setTimeout(() => {
                    uploadButton.disabled = false;
                    buttonText.textContent = "Upload";
                }, 2000);
            }
        });
</script>

{% endblock %}
