{% extends "layout.html" %} {% block content %}
<div class="flex items-center justify-center h-screen">
  <div class="w-full max-w-xs">
    <form id="upload-form" class="bg-neutral-900 p-8">
      <div class="mb-4 text-white">
        <label class="block text-sm font-bold mb-2" for="image">
          Choose an image to upload
        </label>
        <input
          id="file-input"
          class="bg-neutral-800 border border-neutral-700 w-full py-2 px-3 text-neutral-200"
          type="file"
          name="image"
        />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-bold mb-2 text-white" for="passphrase">
          Passphrase
        </label>
        <input
          id="passphrase-input"
          class="bg-black border border-neutral-700 w-full py-2 px-3"
          type="password"
          name="passphrase"
        />
      </div>
      <div>
        <button
          id="upload-button"
          class="bg-neutral-700 hover:bg-neutral-600 text-white font-bold py-2 px-4 w-full relative overflow-hidden"
          type="submit"
        >
          <span id="button-text">Upload</span>
          <div
            id="button-spinner"
            class="h-5 w-5 border-2 border-white border-t-transparent rounded-full absolute top-1/2 left-1/2 transform-gpu -translate-x-1/2 -translate-y-1/2"
            style="animation: spin 1s linear infinite; display: none"
          ></div>
        </button>
      </div>
    </form>
    <div id="message" class="text-white mt-4"></div>
  </div>
</div>

<script>
  function resizeImage(file, MAX_WIDTH) {
    return new Promise((resolve, reject) => {
      const img = new Image();
      img.src = URL.createObjectURL(file);
      img.onload = () => {
        let width = img.width;
        let height = img.height;

        if (width > height) {
          if (width > MAX_WIDTH) {
            height *= MAX_WIDTH / width;
            width = MAX_WIDTH;
          }
        } else {
          if (height > MAX_WIDTH) {
            width *= MAX_WIDTH / height;
            height = MAX_WIDTH;
          }
        }

        const canvas = document.createElement("canvas");
        canvas.width = width;
        canvas.height = height;
        const ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0, width, height);
        canvas.toBlob(resolve, file.type);
      };
      img.onerror = reject;
    });
  }

  document
    .getElementById("upload-form")
    .addEventListener("submit", async function (event) {
      MAX_WIDTH = 2000;

      event.preventDefault();

      const fileInput = document.getElementById("file-input");
      const passphraseInput = document.getElementById("passphrase-input");
      const uploadButton = document.getElementById("upload-button");
      const buttonText = document.getElementById("button-text");
      const buttonSpinner = document.getElementById("button-spinner");

      // Resize the image
      const file = fileInput.files[0];
      const resizedFile = await resizeImage(file, MAX_WIDTH);

      // Disable the button and show the spinner
      uploadButton.disabled = true;
      buttonSpinner.style.display = "block";
      buttonText.textContent = "Uploading...";

      const extension = file.name.split(".").pop();
      const uniqueName =
        new Date().getTime() +
        "-" +
        Math.round(Math.random() * 1e9) +
        "." +
        extension;

      // Get the upload URL from the server
      const response = await fetch("/get-upload-url", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          filename: uniqueName,
          passphrase: passphraseInput.value,
          content_type: resizedFile.type,
        }),
      });
      const data = await response.json();
      const uploadUrl = data.uploadUrl;

      // Upload the resized image
      await fetch(uploadUrl, {
        method: "PUT",
        body: resizedFile,
        headers: {
          "Content-Type": resizedFile.type,
        },
      });

      // Display success message
      document.getElementById("message").textContent =
        "Image uploaded successfully";

      // Show checkmark
      buttonSpinner.style.display = "none";
      buttonText.textContent = "✅";

      // Enable the button again after a delay to allow user to see result
      setTimeout(() => {
        uploadButton.disabled = false;
        buttonText.textContent = "Upload";
      }, 2000);
    });
</script>
{% endblock %}
