<!DOCTYPE html>
<html>
<!--head-->

<head>
  <meta charset="utf-8">
  <title>Taiga Ishida | Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style3.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Railway|Playfair+Display|Merriweather" rel="stylesheet">
</head>

<!--body-->

<body>

  <!--Header-->
  <header>
    <div class="logo">
      <h1>Taiga Ishida</h1>
    </div>

    </div>
  </header>

  <!--Banner-->

  <div class="bannerBKG">
    
  </div>

  <!--Main-->
  <main class="container">

    <!--About Me-->
    <div id="aboutMe">
        <h2>About Me</h2>

    </div>

    <!--Languages-->
    <div id="languages">
        <h2>Skills</h2>
        <ul style="list-style: none;">
          <li>Python</li>
          <li>Java</li>
          <li>JavaScript</li>
          <li>HTML & CSS</li>
          <li>C++ & C</li>
        </ul>
    </div>

    <div id="skills">
      <h2>Skills</h2>
      <ul style="list-style: none;">
        <li>MySQL</li>
        <li>Database Design</li>
        <li>Algorithms</li>
        <li>Front-End</li>
        <li>Back-End</li>
      </ul>

    </div>

    <!--Projects-->
    <div id="projects">
        <h2>Projects</h2>

        <ul style="list-style: none;">
          <li>
            <a href="https://github.com/vanpyrzericj/Alphon" target="_blank">Class Enrollment System</a>
          </li>
          <li>
            <a href="https://github.com/TonyTheTaiga/slackbot" target="_blank">Crypto Tracker Slack Bot</a>
          </li>
          <li>
              <a href="https://github.com/TonyTheTaiga/Invaders" target="_blank">Space Invaders in Assembly</a>
            </li>
        </ul>
    </div>

    <div id="education">
        <h2>Education</h2>
        <p>
          <strong>University At Buffalo</strong><br>
          Computer Engineering BS<br>
          <em>2014 - 2018</em>
        </p>
    </div>

    <!--Resume-->
    <div id="resume">
      <h2>
        <a href="https://drive.google.com/file/d/1UunEUULFjESnTxwlMi2L-glWtoZVHYfy/view?usp=sharing" target="_blank">Resume</a>
      </h2>
    </div>
  </main>
</body>

<!--Footer-->
<div>
  <div id="footer">
    <p>&copy; Taiga Ishida 2018</p>
  </div>
</div>

</html>
