{% extends "layout.html" %}

{% block content %}


<section>
    <article>
        <div>
            <h1>ABOUT ME</h1>
            <p>
                I'm a <b>Junior Engineer</b> looking for a exciting project that I can be apart of.<br>
                I focus in writing <b>clean, reusable code</b> that is <b>efficient</b> and <b>easy</b> to read.<br>
                <br>
            </p>
            <p>
                Besides programming, I have interests in photography, fashion, interior design and skateboarding.<br>
                In a age of consumerism, I think it's important for people to express themselves and not just consume.<br>
                I hope to one day become proficient enough in coding to combine programming with arts.<br>
            </p>
        </div>
    </article>
    <img src="{{ url_for('static', filename='imgs/kinkakuji2.png') }}" alt="kinkakuji">
    <article>
        <div>
            <h1>PROJECTS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, repellendus!</p>
        </div>
    </article>

    <article>
        <div>
            <h1>TECHNICAL KNOWLEDGE</h1>
            <p>
                <b>Python, Java, HTML5, CSS3, JavaScript, C++/#, Assembly</b>
                <br>
                <b>MySQL, Data Structures, Object Oriented Design</b>
            </p>
        </div>
    </article>
    <article>
        <div>
            <h1></h1>
            <address>
                Taiga Ishida<br>
                4555 Vandever Ave<br>
                San Deigo, CA 92120<br>
                (315)-489-3490<br>
                ishidataiga@gmail.com
            </address>
        </div>
    </article>
</section>

{% endblock %}