{% extends "layout.html" %}

{% block content %}


<section>
    <article>
        <div>
            <h2>ABOUT ME</h2>
            <p>
                I am a <b>Junior Engineer</b> looking for a exciting project that I can become a member of.<br>
                I try to focus on writing <b>clean, reusable code</b> that is <b>efficient</b> and <b>easy</b> to read.<br>
                I have experience designing and implementing applications in <b>Python, Assembly as well as C++/#</b>.<br>
                I like to think of clever solution to challenging problems and to contantly learn new ways to apply my knowledge.
            </p>
            <p>
                Besides programming, I have interests in photography, fashion, interior design and skateboarding.<br>
                <!-- In a age of consumerism, I think it's important for people to create content and not just consume.<br>
                I also like to eat food and travel. My favorite place is Japan and I hope to one day live there.<br> -->
            </p>
        </div>
        <!-- ABOUT ME -->
    </article>

    <img src="{{ url_for('static', filename='imgs/kinkakuji2.png') }}" alt="kinkakuji">
    <br>
    <small id="caption">kinkakuji kyoto japan</small>
    
    <article>
        <div>
            <h2>PROJECTS</h2>
            <article>
                <h1><a href="https://github.com/TonyTheTaiga/slackbot" target="_">Crypto Tracking Bot For Slack</a></h1>
                <p>
                    A Slack bot server that adds commands to users in a chat room.<br>Incorporates a python script that
                    fetches crpyto information
                    from coinmarketcap’s API and returns it to users.<br>Implemented a modular design by separating the
                    bot functions from the
                    main functions.<br>Also improved runtime by storing the coin ID’s in a hashmap on startup.
                </p>
                <img src="{{ url_for('static', filename='imgs/slackbotGIF.gif') }}" alt="slackbot demo">
            </article>
            <article>
                <h1><a href="https://github.com/TonyTheTaiga/Invaders" target="_">Embedded Space Invaders Clone</a></h1>
                <p>
                    Space Invaders Clone written in <b>assembly</b> and flashed onto a <b>LCP-2138 Arm Microcontroller</b> using Keil5.<br>
                    Made use of the <b>GPIO</b> and <b>UART</b> to receive and transmit data.<br>
                    For example, I used the 7-segment-display to show the score and the LEDs to show life stock.<br> 
                    The game required designing and implementing algorithms for movement, attacking, collision detection and much more.
                </p>
            </article>
            <article>
                <h1><a href="https://github.com/vanpyrzericj/Alphon" target="_">Course Enrollment System Website</a></h1>
                <p>
                    Helped designed and implemented a course enrollment system for a semester long project at
                    University at
                    Buffalo.<br>Students were
                    able to create a account and sign up for courses online through this website.<br>I helped and
                    implement the view functions as
                    well worked on fetching and store data into the database.<br>Throughout this project I learned how
                    to
                    properly use github
                    from development to production and testing.
                </p>
            </article>
        </div>
        <!-- PROJECTS -->
    </article>

    <article>
        <div>
            <h2>TECHNICAL KNOWLEDGE</h2>
            <p>
                <b>Python, Java, HTML5, CSS3, JavaScript, C++/#, Assembly</b>
                <br>
                <b>MySQL, Data Structures, Object Oriented Design</b>
            </p>
        </div>
    <!-- TECHNICAL KNOWLEDGE -->
    </article>

    <article>
        <div>
            <h1></h1>
            <address>
                4555 Vandever Ave<br>
                San Deigo, CA 92120<br>
                (315)-489-3490<br>
                ishidataiga@gmail.com
            </address>
        </div>
    <!-- CONTACT INFO -->
    </article>
</section>

{% endblock %}